  .fab{
    position: fixed;
    bottom:10px;
    right:10px;
  }
  
  .fab button:focus{
    outline:none;
  }
  
  .fab button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #00DC6B;
    right: 0;
    bottom: 0;
    z-index: 20;
  }
  
  .fab button.main:before{
    content: '↑';
    color: white;
    font-size: 25px;
  }
  
 
  